<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="umbracoUseSSL" value="true" xdt:Transform="SetAttributes"
          xdt:Locator="Match(key)"/>
  </appSettings>

  
  <connectionStrings xdt:Transform="Replace">
    <remove name="umbracoDbDSN" />
    <add name="umbracoDbDSN" connectionString="server=mssql10.unoeuro.com;database=njfk_dk_db;user id=njfk_dk;password='njfk1448'" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <customErrors mode="On" defaultRedirect="/500.html" redirectMode="ResponseRewrite" />
  </system.web>
  <system.net>
    <mailSettings xdt:Transform="Replace">
      <smtp from="info@njfk.dk">
        <network host="smtp.unoeuro.com" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>