@inherits UmbracoViewPage<OptimizedVideo>
@*https://medium.com/@aswin_s/fullscreen-video-backgrounds-e8376ef93c72*@

@using USNStarterKit.USNModels;
@using USNStarterKit.USNHelpers;
@using USN.USNTemplate;

@using USNOptions = USNStarterKit.USNEnums.Options;

@{

    <section>
        <h1>video goes here</h1>
    </section>
    @*<section class="content apc banner no-padding" id="pos_test">
            <div class="slides">
                Video goes here

                @if (banner.Video != null)
                {
                    <!-- VIDEO -->
                    <div class="video">

                        <video playsinline autoplay muted loop preload="none" width="640" height="360" class="video-player">
                            <source src="@banner.Video.Url" type="video/mp4">
                        </video>

                    </div>
                    <!--// VIDEO -->
                }

            </div>
        </section>
    *@
}

